<h4>Queues ({{queues.length}})</h4>
<table class="table table-hover" ng-init="loadQueues()">
    <thead>
    <tr>
        <th>Name</th>
        <th>Message count</th>
        <th>Messages Added</th>
        <th>Consumer count</th>
        <!-- <th allign="right">&nbsp;</th> -->
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat='queue in queues'>
        <td>{{queue.queueName}}</td>
        <td>{{queue.messageCount}}</td>
        <td>{{queue.messagesAdded}}</td>
        <td>{{queue.consumerCount}}</td>
        <!--
        <td align="right">
            <button type="button" class="btn btn-info">Info</button>
        </td>
        -->
    </tr>
    </tbody>
</table>

<h4>Topics ({{topics.length}})</h4>
<table class="table table-hover" ng-init="loadTopics()">
    <thead>
    <tr>
        <th>Name</th>
        <th>Message count</th>
        <th>Messages Added</th>
        <th>Subscription count</th>
        <th allign="right">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat='topic in topics'>
        <td>{{topic.name}}</td>
        <td>{{topic.messageCount}}</td>
        <td>{{topic.messagesAdded}}</td>
        <td>{{topic.subscribtionCount}}</td>
        <td align="right">
            <button type="button" class="btn btn-info">Info</button>
        </td>
    </tr>
    </tbody>
</table>






