<div ng-init="loadQueues()">
    <h4>Queues</h4>
    <div class="alert alert-warning" role="alert" ng-hide="queues.length !== 0">No active queues found!</div>
    <table class="table table-striped" ng-show="queues.length !== 0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Message count</th>
            <th>Messages Added</th>
            <th>Consumer count</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='queue in queues'>
            <td>{{queue.queueName}}</td>
            <td>{{queue.messageCount}}</td>
            <td>{{queue.messagesAdded}}</td>
            <td>{{queue.consumerCount}}</td>
            <td align="right">
                <!--<button type="button" class="btn btn-danger" ng-confirm-click="Clear all messages for queue '{{queue.queueName}}'?" ng-click="clearMessages(queue.queueName)">-->
                <button type="button" class="btn btn-danger" ng-click="clearMessages(queue.queueName)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>